<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">{{ column_name }}</td>
        <td class="text-left">{{ column_link }}</td>
      </tr>
    </thead>
    <tbody>
      {% if external %}
      {% for ip in external %}
      <tr>
        <td class="text-left"><a href="{{ ip.link }}" target="_blank">{{ ip.name }}</a></td>
        <td class="text-right"><a href="{{ ip.link }}" target="_blank">{{ ip.link }}</a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td class="text-center" colspan="3">{{ text_no_results }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>