{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

	  <h2>{{ text_my_account }}</h2>
      <ul class="list-unstyled">
        
        
        
        <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
        <li><a href="{{ external_wishlist }}">{{ text_external_wishlist }}</a></li>
        <li><a href="{{ saved_products }}">{{ text_saved_products }}</a></li>
      </ul>
     
	  <h2>{{ text_my_points }}</h2>
      <ul class="list-unstyled">
        <li>{{ points }}</li>
      </ul>
      <h2>{{ text_my_orders }}</h2>
      <ul class="list-unstyled">
        <li><a href="{{ order }}">{{ text_order }}</a></li>
        <li><a href="{{ download }}">{{ text_download }}</a></li>
        
        
      </ul>
     
      {{ content_bottom }}</div>
    {{ column_rightt }}</div>
</div>
{{ footer }}