{{ header }}
<div id="account-transaction" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">{{ column_name }}</td>
              <td class="text-left">{{ column_description }}</td>
              <!--<td class="text-right">{{ column_amount }}</td>-->
            </tr>
          </thead>
          <tbody>
          
          {% if transactions %}
          {% for transaction in transactions %}
          <tr>
            <td class="text-left"><a href="{{ transaction.description }}" target="_blank">{{ transaction.name }}</td>
            <td class="text-left"><a href="{{ transaction.description }}" target="_blank">{{ transaction.short_description }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_empty }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      <div class="buttons clearfix">
	    {% if transactions %}
        <div class="pull-right"><a href="{{ edit }}" class="btn btn-primary">{{ button_add }}</a></div>
        {% else %}
		<div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_add }}</a></div>
        {% endif %}     
	 </div>
      {{ content_bottom }}</div>
    {{ column_rightt }}</div>
</div>
{{ footer }}